*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.superiore{
    background-color: #009688;
    width: 100%;
    height: 150px;
}

.inferiore{
    background-color: #D7DBD8;
    width: 100%;
    height: calc(100vh - 150px);
}