*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.container{
    background: linear-gradient(180deg, #009688 18%, #D6DBD9 0%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.schermata{
    background-color: rebeccapurple;
    width: 1100px;
    height: 650px;
    position: absolute;
    top: 50px;
    left: 200px;
}

.colonna_sx{
    width: 350px;
    height: 100%;
    background-color: yellow;
    float: left;
}

.utente_proprietario{
    background-color: #EAEAEA;
    height: 55px;
    position: relative;
}

.utente_proprietario img{
    width: 40px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 5px;
}

.utente_proprietario h2{
    display: inline-block;
    font-size: 13px;
    position: absolute;
    top: 20px;
    margin-left: 5px;
    font-weight: bold;
}

.utente_proprietario i{
    float: right;
    padding: 7px;
    margin-top: 14px;
    margin-left: 2px;
    font-size: 17px;
    color: #B1B1B1;
}

.notifiche{
    background-color: #8EDAFC;
    height: 68px;
}

.notifiche i{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 12px;
    background-color: white;
    color: #8EDAFC;
    padding: 10px;
    border-radius: 48%;
    float: left;
}

.notifiche h4{
    float: left;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 5px;
}

.notifiche p{
    font-size: 10px;
    float: left;
    margin-top: 1px;
    margin-left: 5px;
    text-decoration: underline;
}

.cerca_chat{
    background-color: #FAFAFA;
    height: 40px;
}

.cerca_chat i{
    border: 1px solid lightgray;
    padding: 5px 15px;
    margin-top: 5px;
    margin-left: 8px;
    float: left;
    font-size: 13px;
    color: grey;
}

.cerca_chat input{
    width: 280px;
    float: left;
    margin-top: 5px;
    border: 1px solid lightgray;
    padding: 3px;
}

.lista_contatti{
    background-color: white;
    height: 487px;
    display: flex;
    flex-direction: column;
}

.lista_contatti img{
    width: 44px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 15px;
    float: left;
    padding: 5px;
}

.testo{
    border-bottom: 1px solid lightgray;
    padding: 3px;
}

.testo h2{
    font-size: 15px;
    margin-top: 10px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.testo p{
    display: flex;
    font-size: 12px;
    color: grey;
}

.testo span{
    display: flex;
    justify-content: flex-end;
    color: gray;   
    font-size: 10px; 
}

.colonna_dx{
    width: calc(100% - 350px);
    height: 100%;
    background-color: aqua;
    float: left;
}

.contatto{
    background-color: #EAEAEA;
    height: 55px;
    border-left: 1px solid lightgray;
    position: relative;
}

.contatto h2{
    font-size: 17px;
}

.contatto i{
    float: right;
    font-size: 18px;
    padding: 8px;
    position: relative;
    top: -28px;
    color:#B1B1B1;
}

.chat p{
    font-size: 8px;
    color: grey;
    margin-left: 80px;
    display: flex;
    align-self: flex-end;
}

.chat{
    background-image: url(../img/mine.jpg);
    height: 540px;
}

.testo_msg{
    height: 55px;
    background-color: #EAEAEA;
    background-image: url(../img/mine.jpg);
}

.text_sent{
    color: black;
    background-color: #D5F9BA;
    width: 300px;
    padding: 8px 10px;
    margin-bottom: 20px;
    font-size: 12px;
    border-radius: 5px;  
    display: flex;
    align-self: flex-end;
    margin-left: 350px;
}

.text_received{
    color: black;
    background-color: white;
    width: 300px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 30px;
    display: flex;
    align-self: flex-end;
}

.inserimento{
    background-color: #F3EEEA;
    height: 55px;
    position: relative;
}

.inserimento i:first-child{
    position: absolute;
    top: 17px;
    left: 30px;
    font-size: 20px;
    color: grey;
}

.inserimento input{
    position: absolute;
    left: 88px;
    top: 10px;
    height: 35px;
    width: 550px;
    border: none;
    border-radius: 5px;
}

.inserimento i:last-child{
    color: grey;
    position: absolute;
    right: 30px;
    top: 18px;
    font-size: 22px;
}

