<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzap</title>
    </head>
    <body>
        <!-- Contenitore generale -->
        <div id="root">
            <div class="container">
                <div class="schermata">
                    <div class="colonna_sx">
                        <div class="utente_proprietario">
                            <img src="img/avatar_1.jpg" alt="Profilo proprietario">
                            <h2>Damiano Trifone</h2>
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-circle-notch"></i>
                        </div>

                        <div class="notifiche">
                            <i class="fas fa-bell-slash"></i>
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <p>Attiva notifiche desktop</p>
                        </div>

                        <div class="cerca_chat" >
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" @change="search">
                        </div>

                        <div class="lista_contatti">
                            <div v-for="(contact, index) in contacts" class="contact" :class="{ 'active': index == activeIndex, 'no_display': contact.visible == false }"  @click="setActiveIndex(index)">
                                <img :src="img_profilo(index)" class="avatar">
                                <div class="testo">
                                    <h2 @click="setActiveIndex(index)">{{contact.name}}</h2>
                                    <p>{{ ultimoMessaggio(contact).text }}</p>
                                    <span>{{ ultimoMessaggio(contact).date }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

<!-- 
                         <div class="contact" :class="active"> -->
                             <div class="colonna_dx">
                                <div class="contatto">
                                    <img :src="img_profilo(activeIndex)" class="avatar" alt="">
                                    <h2> {{ contacts[activeIndex].name  }} </h2>
                                    <p>Ultimo accesso effettuato: {{ ultimoMessaggio(contacts[activeIndex]).date }}</p>
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="fas fa-paperclip"></i>
                                    <i class="fas fa-search"></i>
                                </div> 

                                    <div class="chat">
                                        <div id="conversazione" v-for="message in contacts[activeIndex].messages">
                                            <div
                                            :class="(message.status == 'sent') ? 'text text_sent': 'text text_received'">
                                                <h5>{{message.text}}</h5>
                                                <p>{{message.date}}</p>
                                            </div>
                                        </div>
                                    </div>
                                                            
                                    <div class="inserimento">
                                        <i class="far fa-smile"></i>
                                        <input type="text" placeholder="Scrivi un messaggio" v-model="userMessage" @keydown.enter="sendMessage">
                                        <i class="fas fa-microphone"></i>
                                    </div>             
                                </div> 
                            </div>
                    </div> 
            </div>
        </div> 
        </div>   
        <script src="js/script.js"></script>
    </body>
</html>